<%
  columns = 4
  rows = 6
  column_width = "2.25in"
  row_height = "4.25in"
  page_break = "1in" # not implemented
%>

<html>
  <head>
    <title><%= I18n.t("top_container._frontend.bulk_operations.label_page_title") %></title>
    <link href="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels.css" %>" media="all" rel="stylesheet" type="text/css"/>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery.js?body=1" %>" type="text/javascript"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery-barcode.min.js" %>"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/generate_barcodes.js" %>"></script>
  </head>

<body>
  <div id="labels_to_print" class="label-sheet">

    <% columns.times do %>
      <div class="label-sheet-cell" style="width: <%= column_width %>; height: 0px;"></div>
    <% end %>

    <% labels.each_slice(columns) do |label_row| %>

      <div class="label-sheet-row">
        <% label_row.each do |label| %>
          <% 
            loc = label['container_locations'].select { |cl| cl['status'] == 'current' }.first
            loc = loc ? loc['_resolved'] : {}
            loc = loc.empty? ? 'Unknown' : ['building', 'floor', 'room', 'area'].map {|fld| loc[fld]}.compact.join(', ')

            resource = label['collection'].empty? ? {} : label['collection'].first

            series = label['series'].empty? ? {} : label['series'].first
            series = series.empty? ? "" : series['display_string']

            archival_record = label['linked_records'].empty? ? {} : label['linked_records'].first

            date = archival_record['dates'].empty? ? {} : archival_record['dates'].first

            note = archival_record['notes'].empty? ? nil : archival_record['notes'].select{|n| n['type'] == 'scopecontent'}.first
            note = note.nil? ? "" : note['subnotes'].first['content']

            rm = archival_record['external_ids']
            rm = rm.empty? ? nil : archival_record['external_ids'].select{|e| e['source'] == AppConfig[:container_management_rms_source]}.first
            records_management_id = rm.nil? ? "" : rm['external_id']
          %>

          <div class="label-sheet-cell" style="height: <%= row_height  %>">
            <div class="box-label">
              <% if params['label_type'] == 'rm' %>

                <div class="label-records-management-id"><%= records_management_id %></div>
                <div class="label-location-header">Box Location</div>
                <div class="label-location"><%= loc %></div>
                <div class="label-divider"></div>
                <div class="label-resource-id"><%= resource['identifier'] %></div>
                <div class="label-indicator"><%= label['indicator'] %></div>
                <div class="label-resource-title"><%= resource['display_string'] %></div>
                <div class="label-series-title-rm"><%= series[0,25] %></div>
                <div class="label-divider"></div>
                <div class="label-description-rm"><%= note[0,50]  %></div>
                <div class="label-date">
                  <%= date['expression'] ? date['expression'] : [date['begin'], date['end']].compact.join(' - ')  %>
                </div>
                <div class="label-barcode" data="<%= label['barcode'] %>"></div>

               <% else %>

                <div class="label-location-header">Box Location</div>
                <div class="label-location"><%= loc %></div>
                <div class="label-divider"></div>
                <div class="label-resource-id"><%= resource['identifier'] %></div>
                <div class="label-indicator"><%= label['indicator'] %></div>
                <div class="label-resource-title"><%= resource['display_string'] %></div>
                <div class="label-series-title"><%= series[0,50] %></div>
                <div class="label-divider"></div>
                <div class="label-description"><%= note[0,75]  %></div>
                <div class="label-date">
                  <%= date['expression'] ? date['expression'] : [date['begin'], date['end']].compact.join(' - ')  %>
                </div>
                <div class="label-barcode" data="<%= label['barcode'] %>"></div>

              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>

</body>
</html>
